<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User Page</title>
</head>
<body>

<form name="user" action="/TestWebJava_war/addUser" method="post">
    <p>Name</p>
    <input title="Name" type="text" name="name">
    <p>Email</p>
    <input title="Email" type="text" name="email">
    <p>Age</p>
    <input title="Age" type="text" name="age">
    <p>Money</p>
    <input title="Money" type="text" name="money">
    <input type="submit" value="OK">
</form>

</body>
</html>