<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>I template</h1>
    <form action="/TestWebJava_war/users">
        <input type="submit" value="Go to Users" />
</body>
</html>