<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello!!!</h1>
<br>
<form action="/TestWebJava_war/hello">
    <input type="submit" value="Go to " />
</form>
</body>
</html>